<!DOCTYPE >
<html>
<head>
    <title>冲浪导航-广告位测试</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Cache-Control" content="max-age=0"/>
    <meta http-equiv="expires" content="0" />
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport" />
    <meta name="wap-font-scale" content="no">
    <style>
        .shim {
            height: 80vh;
            background-color: #00a3df;
        }
    </style>
</head>
<body id="wrapperId">
<div class="shim">头图区块</div>
<p class="desc">动导预文-热门网站001 广告位ID:21347</p>
<div adPositionId="21347" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<p class="desc">动导触图-热门网站001 广告位ID:21335</p>
<div adPositionId="21335" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<p class="desc">动导触文-热门网站002 广告位ID:21536</p>
<div adPositionId="21536" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<p class="desc">动导预文-热门网站002 广告位ID:21530</p>
<div adPositionId="21530" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>

<p class="desc">动导触文-新闻资讯001 广告位ID:21338</p>
<div adPositionId="21338" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<p class="desc">动导预文-新闻资讯001 广告位ID:21350</p>
<div adPositionId="21350" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<p class="desc">动导预图-新闻资讯002 广告位ID:21529</p>
<div adPositionId="21529" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<p class="desc">动导触图-新闻资讯002 广告位ID:21535</p>
<div adPositionId="21535" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<p class="desc">动导触文-新闻资讯003 广告位ID:21578</p>
<div adPositionId="21578" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<p class="desc">动导预文-新闻资讯003 广告位ID:21580</p>
<div adPositionId="21580" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<p class="desc">动导预图-生活助手001 广告位ID:21528</p>
<div adPositionId="21528" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<p class="desc">动导触图-生活助手001 广告位ID:21534</p>
<div adPositionId="21534" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<p class="desc">动导触图-小说专区001 广告位ID:21359</p>
<div adPositionId="21359" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<p class="desc">动导预图-小说专区001 广告位ID:21369</p>
<div adPositionId="21369" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<p class="desc">动导预文-小说专区002 广告位ID:21373</p>
<div adPositionId="21373" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<p class="desc">动导触文-小说专区002 广告位ID:21372</p>
<div adPositionId="21372" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<p class="desc">动导预图-休闲娱乐001 广告位ID:21527</p>
<div adPositionId="21527" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<p class="desc">动导触图-休闲娱乐001 广告位ID:21533</p>
<div adPositionId="21533" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<p class="desc">动导预文-休闲娱乐002 广告位ID:21526</p>
<div adPositionId="21526" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<p class="desc">动导触文-休闲娱乐002 广告位ID:21532</p>
<div adPositionId="21532" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<p class="desc">动导触图-轻松十分001 广告位ID:21605</p>
<div adPositionId="21605" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>

<p class="desc">动导预图-轻松十分001 广告位ID:21606</p>
<div adPositionId="21606" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<p class="desc">动导触文-分类大全002 广告位ID:21342</p>
<div adPositionId="21342" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<p class="desc">动导预文-分类大全002 广告位ID:21352</p>
<div adPositionId="21352" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<p class="desc">动-导预文-页脚广告位 广告位ID:21525</p>
<div adPositionId="21525" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<p class="desc">动导触文-页脚广告位 广告位ID:21531</p>
<div adPositionId="21531" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>

<p class="desc">新增广告类型 广告位ID:30110</p>
<div adPositionId="30110" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<p class="desc">新增广告类型 广告位ID:30108</p>
<div adPositionId="30108" Params="node_2=36541124&amp;index=0&amp;posMaxSize=2" adhref="https://www.baidu.com"></div>
<script>
    require = {
        urlArgs: "bust=2017092101"
    };
</script>
<script data-main="/rd/go/dh/static_files/amd/js/admain" src="/rd/go/dh/static_files/amd/js/lib/require/require.js"></script>
<script src="/rd/go/dh/static_files/amd/js/require.conf.js"></script>
<script>var KX_PARMS = {"token":"1060","mobile":"qDofQw","channelNum":"5zDqzz6A","coc":"5zDqzz6A","version":"22","pageDeep":"1","node_1":"579500","callType":"3","cid":"m_1084996146","cooperationType":"N/A"};</script>

</body>






